/* CSS RESET */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

/* Styling the body */

body{
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    margin: auto;
}


/* Styling the main div container */

.container{
    display: grid;
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 50px;
}

.build{
    background-color: hsl(193, 100%, 96%);
    display: flex;
    border: 2px;
    padding: 50px;
    animation-name: build;
    animation-duration: 10s;
    animation-iteration-count: 3;
    width: 100%;
}

.im{
    width: 70px;
    height: 10px;
    position: relative;
    top: -40px;
    left: -110px;   
}

.land{
    position: relative;
    top: -10px;
    left: -30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.page{
    position: relative;
    top: -0px;
    left: -30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.sub{
    background-color: hsl(322, 100%, 66%);
    position: relative;
    top: 30px;
    left: -60px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: small;
}

.sub:hover{
    background-color: hsl(322, 79%, 72%);
}

.sub1{
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    top: -30px;
    left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.sub1:hover{
    background-color: hsl(0, 11%, 95%)
}

.box1{
    float: left;
    width: 50%;
}

.box2{
    float: right;
    width: 50%;
}

.together{
    background-color: hsl(0, 0%, 100%);
    display: grid;
    border: 10px solid hsl(0, 0%, 100%);
    animation-name: together;
    animation-duration: 5s;
    animation-iteration-count: 2;
}

.grow{
    display: flex;
    border: 1px solid hsl(193, 100%, 96%);
    margin: 20px;
    width: 100%;
}

.box3{
    padding: 20px;
    width: 50%;
}

.box4{
    padding: 20px;
    width: 50%;
}

.land1{
    position: relative;
    top: 0px;
    left: -0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.page1{
    position: relative;
    top: 0px;
    left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.flow{
    display: flex;
    border: 1px solid hsl(193, 100%, 96%);
    margin: 20px;
    width: 100%;
}

.box5{
    padding: 20px;
    width: 50%;
}

.box6{
    padding: 20px;
    width: 50%;
}

.land2{
    position: relative;
    top: -0px;
    left: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.page2{
    position: relative;
    top: -0px;
    left: -10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.users{
    display: flex;
    border: 1px solid hsl(193, 100%, 96%);
    margin: 20px;
    width: 100%;
}

.box7{
    padding: 20px;
    width: 50%;
}

.box8{
    padding: 20px;
    width: 50%;
}

.land3{
    position: relative;
    top: -0px;
    left: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.page4{
    position: relative;
    top: 0px;
    left: -10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.img{
    width: 200px;
    height: 200px;
}

.box9{
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 2px;
    margin: auto;
    position: relative;
    top: 40px;
}

.land4{
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.sub2{
    background-color: hsl(322, 100%, 66%);
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.sub2:hover{
    background-color: hsl(322, 79%, 72%);
}

.foot{
    background-color: hsl(192, 100%, 9%);
    display: flex;
    border: 2px;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: hsl(0, 0%, 100%);
}

.box10{
    display: grid;
    width: 25%;
    height: 25%;
    text-align: left;
}

.image{
    width: 70px;
    height: 10px;
    position: relative;
    top: 10px;
    left: -10px;   
}

.box10, .loc{
    list-style-image: url(images/icon-location.svg);
    padding: 5px;
    position: relative;
    top: 20px;
    left: 10px;
}

.box10, .num{
    list-style-image: url(images/icon-phone.svg);
    padding: 5px;
    position: relative;
    top: 15px;
    left: 10px;
}

.box10, .em{
    list-style-image: url(images/icon-email.svg);
    padding: 5px;
    position: relative;
    top: 10px;
    left: 10px;
}

.box11{
    display: grid;
    width: 25%;
}

.box11 li{
    list-style: none;
    padding: 5px;
    position: relative;
    top: 60px;
    left: 20px;
}

.box12{
    display: grid;
    width: 25%;
}

.box12 li{
    list-style: none;
    padding: 5px;
    position: relative;
    top: 60px;
    left: 30px;
}

.box13{
    display: flex;
    width: 25%;
}

.logo{
    width: 30px;
    height: 30px;
    position: relative;
    top: 40px;
    left: 80px;
    padding: 5px;
}

.copy{
    position: relative;
    top: 80px;
    left: 0px;
    float: right;
}

/* The animation code */

@keyframes build {
    from {background-color: hsl(0, 11%, 95%);}
    to {background-color: hsl(192, 100%, 9%);}
}

@keyframes together {
    from {background-color: hsl(0, 0%, 100%);}
    to {background-color: hsl(322, 100%, 66%);}
}

/* Media query desktop */

@media screen and (max-width:1440px) {
    body{
        flex-direction: row;
        background-image: url('images/bg-hero-desktop.svg');
    }   
}

/* Media query mobile */

@media screen and (min-width:375px) {
    body{
        flex-direction: column;
        background-image: url('images/bg-hero-mobile.svg');
    }
    
}

